In [1]:
import os, re
import pandas as pd
from pandas import DataFrame
from numpy import array, sort, argsort, zeros, floor
from openpyxl import load_workbook
import glob

In [2]:
path='../result_rf_DD_SF/bal/*.csv'

In [3]:
dfl=[]    
files = glob.glob(path)
for a in files:
    try:
        dfl.append(pd.read_csv(a,sep=';'))
    except pd.errors.EmptyDataError:
        print('arquivo vazio!',a)

In [4]:
dfl[0]

,instance,NR,NT,NW,capacity,balanced,fixsizerf,freeintervalrf,maxtimerf,bestsol,elapsedtime
0,instances/N50T15/N50T15P1W15DD_SF4.dat,50,15,15,1.75,1,4,2,120,5.053643e+05,43.912753
1,instances/N100T15/N100T15P1W5DD_SF5.dat,100,15,5,1.75,1,4,2,120,4.752624e+05,28.767117
2,instances/N100T30/N100T30P1W20DD_SF9.dat,100,30,20,1.75,1,4,2,120,1.190082e+06,92.834279

In [5]:
for a in range(len(dfl)):
    dfl[a]=dfl[a].append({'instance':'dfl'+str(a),'capacity':dfl[a].iloc[0]['capacity'],'balanced':dfl[a].iloc[0]['balanced'],'fixsizerf':dfl[a].iloc[0]['fixsizerf'],'freeintervalrf':dfl[a].iloc[0]['freeintervalrf'],'maxtimerf':dfl[a].iloc[0]['maxtimerf'],'bestsol':dfl[a]['bestsol'].mean(),'elapsedtime':dfl[a]['elapsedtime'].mean()}, ignore_index= True)

In [6]:
dfl[0]

,instance,NR,NT,NW,capacity,balanced,fixsizerf,freeintervalrf,maxtimerf,bestsol,elapsedtime
0,instances/N50T15/N50T15P1W15DD_SF4.dat,50.0,15.0,15.0,1.75,1,4,2,120,5.053643e+05,43.912753
1,instances/N100T15/N100T15P1W5DD_SF5.dat,100.0,15.0,5.0,1.75,1,4,2,120,4.752624e+05,28.767117
2,instances/N100T30/N100T30P1W20DD_SF9.dat,100.0,30.0,20.0,1.75,1,4,2,120,1.190082e+06,92.834279
3,dfl0,NaN,NaN,NaN,1.75,1,4,2,120,7.235697e+05,55.171383

In [7]:
resumedf = pd.DataFrame(columns = ['instance','NR','NT','NW','capacity','balanced','fixsizerf','freeintervalrf','maxtimerf','bestsol','elapsedtime'])

In [8]:
for a in range(len(dfl)):
    resumedf=resumedf.append(dfl[a].iloc[3], ignore_index= True)

In [9]:
resumedf

,instance,NR,NT,NW,capacity,balanced,fixsizerf,freeintervalrf,maxtimerf,bestsol,elapsedtime
0,dfl0,NaN,NaN,NaN,1.75,1,4,2,120,723569.723534,55.171383
1,dfl1,NaN,NaN,NaN,2.00,1,2,3,120,665016.712940,48.166311
2,dfl2,NaN,NaN,NaN,1.50,1,3,2,120,776384.361304,46.559348
3,dfl3,NaN,NaN,NaN,1.75,1,2,4,120,721052.602034,56.281081
4,dfl4,NaN,NaN,NaN,1.75,1,3,3,120,724276.281203,51.169289
5,dfl5,NaN,NaN,NaN,2.00,1,3,3,120,666029.927244,47.403227
6,dfl6,NaN,NaN,NaN,2.00,1,3,2,120,666096.214813,39.670780
7,dfl7,NaN,NaN,NaN,2.00,1,4,4,120,660098.789828,72.148500
8,dfl8,NaN,NaN,NaN,1.50,1,2,2,120,783163.302628,36.769377
9,dfl9,NaN,NaN,NaN,1.50,1,4,3,120,775340.852830,71.512896
10,dfl10,NaN,NaN,NaN,1.75,1,2,3,120,724228.873518,50.702409
11,dfl11,NaN,NaN,NaN,1.50,1,2,4,120,777371.844112,60.874881
12,dfl12,NaN,NaN,NaN,1.75,1,2,2,120,727594.412810,33.320746
13,dfl13,NaN,NaN,NaN,1.50,1,4,2,120,777405.591488,50.427485
14,dfl14,NaN,NaN,NaN,2.00,1,4,2,120,665494.386114,47.048844
15,dfl15,NaN,NaN,NaN,1.50,1,3,4,120,774559.386001,78.276163
16,dfl16,NaN,NaN,NaN,1.50,1,3,3,120,778069.115755,52.531649
17,dfl17,NaN,NaN,NaN,1.75,1,4,3,120,722377.698307,63.939660
18,dfl18,NaN,NaN,NaN,1.50,1,2,3,120,782603.832208,49.696582
19,dfl19,NaN,NaN,NaN,2.00,1,3,4,120,665140.909530,68.627930
20,dfl20,NaN,NaN,NaN,2.00,1,2,4,120,662417.123093,55.465907
21,dfl21,NaN,NaN,NaN,2.00,1,2,2,120,673905.560891,36.159161
22,dfl22,NaN,NaN,NaN,1.50,1,4,4,120,776770.039824,72.505026
23,dfl23,NaN,NaN,NaN,2.00,1,4,3,120,660844.737793,64.553192
24,dfl24,NaN,NaN,NaN,1.75,1,3,2,120,726260.064751,47.699122
25,dfl25,NaN,NaN,NaN,1.75,1,3,4,120,721763.163066,69.202699
26,dfl26,NaN,NaN,NaN,1.75,1,4,4,120,727125.099361,72.189868

In [10]:
writer = pd.ExcelWriter('result_bal.xlsx', engine='xlsxwriter')

In [11]:
for a in range(len(dfl)):
    dfl[a].to_excel(writer, sheet_name = 'dfl'+str(a))

resumedf.to_excel(writer, sheet_name = 'resume')

writer.save()